.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* .Post > img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
} */

.Post > img {
  width: 60rem;
  height: 40rem;
  border-radius: 10px;
  object-fit: contain;
}

.postReact,
.Post > span,
.detail {
  align-self: flex-start;
}

.postReact {
  display: flex;
  gap: 1.5rem;
}

.postReact > img:hover {
  cursor: pointer;
}
